/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

// heading
.c-heading{
    &--color6{
        background-color: $color6-a; 
        border-color: $color6;
    }
    &--color5{
        background-color: $color5-a; 
        border-color: $color5; 
    }
    &--color7{
        background-color: $color8; 
        border-color: $color7; 
    }
}
// article
.c-post{
    justify-content: space-between;
    .c-post__item{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .c-post__content{
        margin-left: 0;
        width: 100%;
    }

}
.c-post__cate, .c-post__meta{
    padding: 5px 15px;
    font-weight: bold;
    &--color2{
        background-color: $color2;
    }
    &--color3{
        background-color: $color3;
    }
    &--color4{
        background-color: $color4;
    }
}
.c-post__meta{
    display: inline-block;
    margin: 15px 0;
}

.c-post__item--col3{
    flex: 0 0 235px;
    max-width: 235px;
}
.c-post__item--col4, .c-box{
    flex: 0 0 300px;
    max-width: 300px;
}

.c-post__item--col6{
    flex: 0 0 475px;
    max-width: 475px;
}
.c-post1__item, .c-post__item{
    display: flex;
    margin-bottom: 30px;
    @include breakpoint(sp){
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 100%;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
@include breakpoint(sp){
    .c-post__item--col3, .c-post__item--col4{
        flex: 0 0 48%;
        max-width: 48%;
    }
}
.c-post1__thumb{
    position: relative;
    @include breakpoint(sp){
        margin-bottom: 15px;
        margin: 0 auto 15px auto;
    }
    a{
        display: block;
        height: 100%;
    }
    .c-post__cate{
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.c-post1__content{
    margin-left: 40px;
    width: 600px;
    @include breakpoint(sp){
        margin-left: 0;
        width: 100%;
    }
}
// slider
.c-slider__title{
    font-size: 16px;
    font-weight: bold;
    @include line-height(16,10);
    margin-bottom: 5px;
}

.c-box{
    @include breakpoint(sp){
        flex-direction: column;
        flex: 0 0 100%;
		max-width: 100%;
    }
}


// button
.c-btn1{
    border: 1px solid #000; 
    width: 300px;
    padding: 20px 0;
    @include breakpoint(sp) {
        padding: 10px;
        width: 150px;
        margin: 30px auto 0;
    }
    margin: 60px auto;
}

.c-btn2{
    width: 150px;
    padding: 15px 0;
    margin: 0 0 auto auto;
    @include breakpoint(sp) {
        padding: 5px;
        width: 75px;
    }
}

.c-btn{
    width: 300px;
    i{
        margin-right: 5px;
    }
}
.pg-link1{
    .c-btn{
        margin: 10px 0 40px;
        @include breakpoint(sp){
            margin: 5px auto 20px;
            
        }
    }
}
.feature .c-btn1{
    margin: 60px 0 60px auto;
    @include breakpoint(sp){
        margin: 30px 0 30px;
    }
}
.blog .c-btn1{
    margin: 60px 0 30px;
    @include breakpoint(sp){
        margin: 30px 0 15px;
    }
}