@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-header {
    background-color: #000;
  }
}

@media only screen and (max-width: 767px) {
  .c-header .l-container {
    padding: 0;
  }
}

/* Main menu
------------------------------------------------------------*/
.c-header {
  border-bottom: 1px solid #a8a8a8;
  position: relative;
  *zoom: 1;
  padding: 20px 0;
}

.c-header:after {
  display: block;
  content: "";
  clear: both;
}

@media only screen and (max-width: 767px) {
  .c-header {
    padding: 10px 0;
  }
}

.c-header__logo {
  display: inline-block;
  float: left;
  padding-right: 50px;
  width: 300px;
}

@media only screen and (max-width: 767px) {
  .c-header__logo {
    margin-left: 15px;
    width: calc(300px/2);
  }
}

.c-gnav {
  float: left;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .c-gnav {
    width: calc(700px/2);
  }
}

.c-gnav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  min-height: 50px;
  line-height: 50px;
}

@media only screen and (max-width: 767px) {
  .c-gnav__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    min-height: 25px;
    line-height: 25px;
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
  }
}

.c-gnav__link li {
  padding: 0 15px;
}

@media only screen and (max-width: 767px) {
  .c-gnav__link li {
    padding: 5px 15px;
  }
}

.c-gnav__link li:last-child {
  padding-right: 0;
}

@media only screen and (max-width: 767px) {
  .c-gnav__link li:hover {
    background-color: rgba(60, 60, 60, 0.6);
  }
}

.c-gnav__link li a {
  display: block;
}

@media only screen and (max-width: 767px) {
  .c-gnav__button {
    position: absolute;
    top: 8px;
    right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnav__link {
    background: #afafaf;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    display: none;
  }
}

.c-gnav__link.is-active {
  display: block;
}

.c-gnav__button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 6px;
  height: 25px;
  width: 25px;
}

.c-gnav__button span {
  background-color: #000;
  display: block;
  margin-bottom: 3px;
  height: 2px;
  width: 100%;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

@media only screen and (max-width: 767px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .c-box {
    margin-bottom: 15px;
  }
}

.c-box a {
  display: block;
}

.c-box a i {
  margin-right: 5px;
}

.c-box--list-item i {
  font-size: 8px;
}

.c-copyright {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb ul {
  padding: 30px 0;
}

.c-breadcrumb ul li {
  display: inline-block;
  text-decoration: underline;
}

.c-breadcrumb ul li:active, .c-breadcrumb ul li .is-active {
  text-transform: uppercase;
}

.c-breadcrumb ul li:hover {
  text-decoration: underline;
}

.c-breadcrumb ul li i {
  margin: 0 5px;
}

/* layout
------------------------------------------------------------*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  min-width: 1000px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

section {
  padding: 10px 0 40px;
}

@media only screen and (max-width: 767px) {
  section {
    padding: 5px 0 20px;
  }
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    padding: 0 15px;
    width: 100%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  color: #fff;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11111;
  text-transform: uppercase;
  text-align: center;
}

.c-btn1--color {
  background-color: #afafaf;
}

.c-btn1--color1 {
  background-color: #ffd800;
}

.c-btn1--color2 {
  background-color: #f68e56;
}

.c-btn1--color3 {
  background-color: #6dcff6;
}

.c-btn2 {
  color: #fff;
  border-radius: 5px;
  display: block;
  line-height: 1.33333;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.c-btn2--color {
  background-color: #afafaf;
}

.c-btn__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-btn__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap-reverse;
            flex-flow: column wrap-reverse;
  }
}

.c-btn {
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-btn {
    margin-bottom: 10px;
  }
}

.c-btn--color7a {
  background-color: #00aeef;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-heading1, .c-subHeading {
  border-style: solid;
  border-width: 1px;
  border-left-width: 7px;
  padding: 10px;
  padding-left: 15px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 30px;
}

.c-box__title {
  position: relative;
  padding-bottom: 10px;
}

.c-box__title:after {
  background: #ccc;
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px 0;
}

.c-heading {
  font-size: 32px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 10px 0;
}

.c-heading--colorBlue {
  background-color: #6dcff6;
  border-color: #000;
}

.pg-link2 .c-subHeading {
  margin: 55px 0 20px;
}

@media only screen and (max-width: 767px) {
  .pg-link2 .c-subHeading {
    margin: 27px 0 10px;
  }
}

.pg-link2 .c-title {
  margin-top: 35px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .pg-link2 .c-title {
    margin-top: 17px;
  }
}

.c-subHeading {
  border-width: 0px;
  border-left-width: 7px;
  margin-bottom: 20px;
}

.c-subHeading--blueColor {
  background-color: #bcd5e1;
  border-color: #11638a;
}

.c-subHeading--pinkColor {
  background-color: #ffe8e9;
  border-color: #f5989d;
}

.pg-link1 section {
  padding: 30px 0 0;
}

@media only screen and (max-width: 767px) {
  .pg-link1 section {
    padding: 15px 0 0;
  }
}

.pg-link1 .c-heading {
  font-size: 18px;
  text-transform: uppercase;
  border: 0 solid #ccc;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #ccc;
  text-align: left;
  margin-bottom: 30px;
}

.pg-link1 .c-heading__description {
  margin-bottom: 15px;
  font-weight: bold;
}

.pg-link1 .c-heading__description a {
  text-decoration: underline;
}

.pg-link1 .c-subHeading {
  background: #e6e6e6;
  border-left-width: 0;
  font-size: 16px;
  font-weight: 500;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-menu__link {
  display: inline-block;
  text-decoration: underline;
}

.c-menu__link:active, .c-menu__link .is-active {
  text-transform: uppercase;
}

.c-menu__link:hover {
  text-decoration: underline;
}

.c-menu__link i {
  margin: 0 5px;
}

.c-menu {
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 60px;
}

@media only screen and (max-width: 767px) {
  .c-menu {
    margin-top: 30px;
  }
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
ol {
  margin-top: 20px;
  counter-reset: item;
  list-style-type: none;
}

ol li {
  margin-left: 15px;
  padding-bottom: 5px;
  position: relative;
}

ol li:before {
  color: #f5989d;
  content: counters(item, ".") ".";
  counter-increment: item;
  left: -15px;
  position: absolute;
  font-weight: bold;
}

ol li ol {
  margin-top: 10px;
}

ol li ol li {
  margin-left: 40px;
}

ol li ol li:before {
  font-weight: normal;
  left: -25px;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 15px 0 0;
  padding-bottom: 50px;
}

.c-table1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-table1__row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.c-table1__row__header {
  background-color: #acd373;
  color: #fff;
  font-weight: bold;
}

.c-table1__row__header .c-table1__cell:first-child {
  background-color: #acd373;
}

.c-table1__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

.c-table1__cell:first-child {
  background: #ebebeb;
}

.pg-link1 .c-table1 {
  max-width: 490px;
}

@media only screen and (max-width: 767px) {
  .pg-link1 .c-table1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 25px;
  }
}

.pg-link1 .c-table1__cell:first-child {
  max-width: 65px;
}

@media only screen and (max-width: 767px) {
  .pg-link1 .c-table1__cell:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.pg-link2 .c-table1__cell:first-child {
  max-width: 175px;
}

@media only screen and (max-width: 767px) {
  .pg-link2 .c-table1__cell:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
slide
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-slider__item {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 360px;
}

.c-slider__item div {
  padding-left: 40px;
  padding-top: 225px;
  width: 461px;
}

@media only screen and (max-width: 767px) {
  .c-slider__item div {
    padding-top: 112px;
    width: 220px;
  }
}

.c-slider__item a h3 {
  font-size: 20px;
  line-height: 1.5;
}

.c-cate {
  font-size: 16px;
  line-height: 1.875;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
  width: 128px;
}

.c-cate--color4 {
  background: #ffdfdf;
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.pg-home #feature {
  background: #fafafa;
}

.c-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-blockquote {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 15px 20px;
  margin: 15px 0 30px;
  position: relative;
  text-indent: 45px;
}

.c-blockquote i {
  font-size: 32px;
  padding: 0 5px 0 0;
}

.c-blockquote .fa-quote-left {
  position: absolute;
  top: 0px;
  left: -25px;
}

.c-blockquote .fa-quote-right {
  position: absolute;
  bottom: 0px;
  right: 15px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-heading--color6 {
  background-color: #fff9da;
  border-color: #ffd800;
}

.c-heading--color5 {
  background-color: #fff2f2;
  border-color: #f68e56;
}

.c-heading--color7 {
  background-color: #ebebeb;
  border-color: #6dcff6;
}

.c-post {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-post .c-post__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-post .c-post__content {
  margin-left: 0;
  width: 100%;
}

.c-post__cate, .c-post__meta {
  padding: 5px 15px;
  font-weight: bold;
}

.c-post__cate--color2, .c-post__meta--color2 {
  background-color: #a3d39c;
}

.c-post__cate--color3, .c-post__meta--color3 {
  background-color: #fff799;
}

.c-post__cate--color4, .c-post__meta--color4 {
  background-color: #ffdfdf;
}

.c-post__meta {
  display: inline-block;
  margin: 15px 0;
}

.c-post__item--col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 235px;
          flex: 0 0 235px;
  max-width: 235px;
}

.c-post__item--col4, .c-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
}

.c-post__item--col6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 475px;
          flex: 0 0 475px;
  max-width: 475px;
}

.c-post1__item, .c-post__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .c-post1__item, .c-post__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .c-post1__item:last-child, .c-post__item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-post__item--col3, .c-post__item--col4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
  }
}

.c-post1__thumb {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-post1__thumb {
    margin-bottom: 15px;
    margin: 0 auto 15px auto;
  }
}

.c-post1__thumb a {
  display: block;
  height: 100%;
}

.c-post1__thumb .c-post__cate {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.c-post1__content {
  margin-left: 40px;
  width: 600px;
}

@media only screen and (max-width: 767px) {
  .c-post1__content {
    margin-left: 0;
    width: 100%;
  }
}

.c-slider__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .c-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.c-btn1 {
  border: 1px solid #000;
  width: 300px;
  padding: 20px 0;
  margin: 60px auto;
}

@media only screen and (max-width: 767px) {
  .c-btn1 {
    padding: 10px;
    width: 150px;
    margin: 30px auto 0;
  }
}

.c-btn2 {
  width: 150px;
  padding: 15px 0;
  margin: 0 0 auto auto;
}

@media only screen and (max-width: 767px) {
  .c-btn2 {
    padding: 5px;
    width: 75px;
  }
}

.c-btn {
  width: 300px;
}

.c-btn i {
  margin-right: 5px;
}

.pg-link1 .c-btn {
  margin: 10px 0 40px;
}

@media only screen and (max-width: 767px) {
  .pg-link1 .c-btn {
    margin: 5px auto 20px;
  }
}

.feature .c-btn1 {
  margin: 60px 0 60px auto;
}

@media only screen and (max-width: 767px) {
  .feature .c-btn1 {
    margin: 30px 0 30px;
  }
}

.blog .c-btn1 {
  margin: 60px 0 30px;
}

@media only screen and (max-width: 767px) {
  .blog .c-btn1 {
    margin: 30px 0 15px;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-w100 {
  width: 100%;
}

.u-text--blue {
  color: #1f53fa;
}

.u-text--red {
  color: #c40000;
}

.u-text--orange {
  color: #ff9c00;
}

.u-text--pinkDark {
  color: #f5989d;
}

.u-text--blueDark {
  color: #11638a;
}

.u-table-bgColor {
  background-color: #6dcff6 !important;
}

.u-text--bold {
  font-weight: bold;
}

.u-text--regular {
  font-weight: normal;
}

.u-text--size {
  font-size: 20px;
}

.u-ds-n {
  display: none;
}
