//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// breakpoint
//============================================
@mixin breakpoint($point) {
	@if $point == tablets {
		@media only screen and (max-width: 1024) { @content ; }
	}
	@else if $point == sp {
		@media only screen and (max-width: 767px) { @content ; }
	}
}

//============================================
// line height
//============================================
@mixin line-height($font-size, $line-height) {
	line-height: ($font-size / $line-height);
}

//============================================
// grid template
//============================================

// @for $i from 1 through $col-count{
// 	.p-post#{$i}{
// 		flex: 0 0 ($i / $col-count) * 100%;
// 		max-width: ($i / $col-count) * 100%;
// 	}
// }
