///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// scpope
//------------------------------------------------------------
.u-w100{
    width: 100%;
}
//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color text
//------------------------------------------------------------
.u-text--blue{
    color: #1f53fa;
}
.u-text--red{
    color: #c40000;
}
.u-text--orange{
    color: #ff9c00;
}
.u-text--pinkDark{
    color: $color-pink--dark;
}
.u-text--blueDark{
    color: $color-blue--dark;
}
//------------------------------------------------------------
// color table
//------------------------------------------------------------
.u-table-bgColor{
    background-color: $color7 !important;
}
//------------------------------------------------------------
// font-style
//------------------------------------------------------------

.u-text--bold{
    font-weight: bold;
}
.u-text--regular{
    font-weight: normal;
}

//------------------------------------------------------------
// font-size
//------------------------------------------------------------

.u-text--size{
    font-size: 20px
}

//------------------------------------------------------------
// font-size
//------------------------------------------------------------

.u-ds-n{
    display: none;
}