//baseWidth
$baseWidth:1000px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common

$color1: #afafaf;
$color2: #a3d39c;
$color3: #fff799;
$color4: #ffdfdf;
$color5: #f68e56;
$color5-a: #fff2f2;
$color6: #ffd800;
$color6-a : #fff9da;
$color7: #6dcff6;
$color7-a: #00aeef;
$color8: #ebebeb;
$bg-color: #fafafa;

// color 

$color-blue--light: #bcd5e1;
$color-blue--dark: #11638a;
$color-pink--light: #ffe8e9;
$color-pink--dark: #f5989d;
$color-grey: #ccc;
$color-grey2: #e6e6e6;




