/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb{
    ul{
        padding: 30px 0;
        li{
            display: inline-block;
            text-decoration: underline;
            &:active, .is-active{
                text-transform: uppercase;
            }
            &:hover{
                text-decoration: underline;
            }
            i{
                margin: 0 5px;
            }
        }
    }
}