/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @include breakpoint(sp){
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 100%;

    }
}
.c-box{
    @include breakpoint(sp){
        margin-bottom: 15px;
    }
}
.c-box a{
    display: block;
    i{
        margin-right: 5px;

    }
}
.c-box--list-item i{
    font-size: 8px;
}
.c-copyright{
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}