/* Header
------------------------------------------------------------*/
.c-header{
    position: relative;
    z-index: 1;
    @include breakpoint(sp){
        background-color: #000; 
    }
    .l-container{
        @include breakpoint(sp){
           padding: 0;
        }
    }
}
/* Main menu
------------------------------------------------------------*/
.c-header{
    border-bottom: 1px solid #a8a8a8;
    position: relative;
    @include clear;
    @include breakpoint(sp){
        padding: 10px 0;
    }
    padding: 20px 0;
    &__logo{
        display: inline-block;
        float: left;
        padding-right: 50px;
        width: 300px;
        @include breakpoint(sp){
            margin-left: 15px;
            width: calc(300px/2);
        }
    }
}

.c-gnav{
    float: left;
    width: 700px;
    display: flex;
    justify-content: flex-end;
    @include breakpoint(sp){
        width: calc(700px/2);
    }
}
.c-gnav__link{
    display: flex;
    margin-left: auto;
    min-height: 50px;
    line-height: 50px;
    @include breakpoint(sp){
        flex-flow: column;
        min-height: 25px;
        line-height: 25px;
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
    }
    li{
        padding: 0 15px;
        @include breakpoint(sp){
            padding: 5px 15px;
        }
        &:last-child{
            padding-right: 0;
        }
        &:hover{
            @include breakpoint(sp){
                background-color: rgba(60, 60, 60, 0.6); 
            }
        }
        a{
            display: block;
        }
    }
}
.c-gnav__button{
    @include breakpoint(sp){
        position: absolute;
        top: 8px;
        right: 15px;
    }
}
.c-gnav__link{
    @include breakpoint(sp){
        background: $color1;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        display: none;
    }
}
.c-gnav__link.is-active{
    display: block;
}
.c-gnav__button{
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 6px;
    height: 25px;
    width: 25px;
    span{
        background-color: #000; 
        display: block;
        margin-bottom: 3px;
        height: 2px;
        width: 100%;
    }
}