/* layout
------------------------------------------------------------*/
*, *:after, *:before{
	box-sizing: border-box;
}
body{
	font-family: $mainFonts;
	font-size: 1.4rem;
	line-height: 1.4;
	min-width: $baseWidth;
	@include breakpoint(sp) {
		min-width: 320px;
	}
}
section{
	padding: 10px 0 40px;
	@include breakpoint(sp){
		padding: 5px 0 20px;
	}
}
//-------------------------------------------------------
.l-container{
	width: $baseWidth;
	margin: 0 auto;
	@include breakpoint (sp){
		padding: 0 15px;
		width: 100%;
	}
}
//-------------------------------------------------------
