/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-btn1{
    color: #fff;
    border-radius: 5px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    @include line-height(20, 18);
    text-transform: uppercase;
    text-align: center;
    &--color{
        background-color: $color1;
    }
    &--color1{
        background-color: $color6;
    }
    &--color2{
        background-color: $color5;
    }
    &--color3{
        background-color: $color7;
    }
}

.c-btn2{
    color: #fff;
    border-radius: 5px;
    display: block;
    @include line-height(20, 15);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    &--color{
        background-color: $color1;
    }
}


.c-btn__group{
    display: flex;
    justify-content: space-between;
    @include breakpoint(sp){
        flex-flow: column wrap-reverse;
    }
}
.c-btn{
    color: #fff;
    border-radius: 5px; 
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    @include breakpoint(sp){
        margin-bottom: 10px;
    }
    &--color7a{
        background-color: $color7-a;
    }
}
