/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-heading1, .c-subHeading{
    border-style: solid;
    border-width: 1px;
    border-left-width: 7px;
    padding: 10px;
    padding-left: 15px;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 30px;
}

.c-box__title{
    position: relative;
    padding-bottom: 10px;
}
.c-box__title:after {
    background: $color-grey;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px 0;
}
.c-heading{
    font-size: 32px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding: 10px 0;
    &--colorBlue{
        background-color: $color7;
        border-color: #000;
    }
}
// pg-link2
.pg-link2{
    .c-subHeading{
        margin:55px 0 20px;
        @include breakpoint(sp){
            margin: 27px 0 10px;
        }
    }
    .c-title{
        margin-top: 35px;
        font-size: 16px;
        @include breakpoint(sp){
            margin-top: 17px;
        }
    }
}
.c-subHeading{
    border-width: 0px;
    border-left-width: 7px;
    margin-bottom: 20px;
    &--blueColor{
        background-color: $color-blue--light;
        border-color: $color-blue--dark;
    }
    &--pinkColor{
        background-color: $color-pink--light;
        border-color: $color-pink--dark;
    }
}

// pg-link1
.pg-link1{
    section{
        padding: 30px 0 0;
        @include breakpoint(sp){
            padding: 15px 0 0;
        }
    }
    .c-heading{
        font-size: 18px;
        text-transform: uppercase;
        border: 0 solid $color-grey;
        border-bottom-width: 2px;
        border-bottom-style: solid; 
        border-color: $color-grey;
        text-align: left;
        margin-bottom: 30px;
    }
    .c-heading__description{
        margin-bottom: 15px;
        font-weight: bold;
        a{
            text-decoration: underline;
        }
    }
    .c-subHeading{
        background: $color-grey2;
        border-left-width: 0;
        font-size: 16px;
        font-weight: 500;
    }
}