/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-menu__link{
    display: inline-block;
    text-decoration: underline;
    &:active, .is-active{
        text-transform: uppercase;
    }
    &:hover{
        text-decoration: underline;
    }
    i{
        margin: 0 5px;
    }
}

.c-menu {
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
    @include breakpoint(sp){
        margin-top: 30px;
    }
}
