/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
// .c-list1{
	
// }

// -======= pg-link2
ol{
    margin-top: 20px;
    counter-reset: item; 
    list-style-type: none;
    li{
        margin-left: 15px;
        padding-bottom: 5px;
        position: relative;
        &:before{
            color: $color-pink--dark;
            content: counters(item, ".")"."; 
            counter-increment: item;
            left: -15px;
            position: absolute;
            font-weight: bold;
        }
        ol{
            margin-top: 10px;
            li{
                margin-left: 40px;
                &:before{
                    font-weight: normal;
                    left: -25px;
                }
            }
        }
    }
}