$table-header: #acd373;
$table-border: #ccc;
$table-background: #ebebeb;
$table-title: #fff;

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1{
    display: flex;
    flex-flow: column nowrap;
    margin: 15px 0 0;
    padding-bottom: 50px;
    &__row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include breakpoint(sp){
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__header{
            background-color: $table-header;
            color: $table-title;
            font-weight: bold;
            .c-table1__cell{
                &:first-child{
                    background-color: $table-header;
                }
            }
        }
    }
    &__cell{
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-basis: 100%;
        justify-content: center;
        padding: 10px 0;
        border: 1px solid $table-border;
        word-wrap: break-word;
        &:first-child{
            background: $table-background;
        }
    }
}

.pg-link1{
    .c-table1{
        max-width: 490px;
        @include breakpoint(sp){
            flex-basis: 100%;
            padding-bottom: 25px;
        }
        &__cell{
            &:first-child{      
                max-width: 65px;
                @include breakpoint(sp){
                    flex-basis: 100%;
                }
            }
        }
    }
}

.pg-link2{
    .c-table1{
        &__cell{
            &:first-child{      
                max-width: 175px;
                @include breakpoint(sp){
                    flex-basis: 100%;
                }
            }
        }   
    }
}