/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slider__item{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 360px;
    div{
        padding-left: 40px;
        padding-top: 225px;
        width: 461px;
        @include breakpoint(sp){
            padding-top: 112px;
            width: 220px;
        }
    }
    a{
        h3{
            font-size: 20px;
            @include line-height(30,20);
        }
    }
}
.c-cate{
    font-size: 16px;
    @include line-height(30,16);
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    text-align: center;
    width: 128px;
    &--color4{
        background: $color4;
    }
}