/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.pg-home{
    #feature{
        background: $bg-color;
    }
}
.c-post{
    display: flex;
    flex-wrap: wrap;
}

// c-blockquote
.c-blockquote{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 15px 20px;
    margin: 15px 0 30px;
    position: relative;
    text-indent: 45px;
    i{
        font-size: 32px;
        padding: 0 5px 0 0;
    }
    .fa-quote-left{
        position: absolute;
        top: 0px;
        left: -25px;
    }
    .fa-quote-right{
        position: absolute;
        bottom: 0px;
        right: 15px;
    }
}
